@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
* {
  font-family: "Inter", sans-serif;
  font-size: 16px; /* Fixed base font size */
  /* background-color: #070a13; */
  color: #9b9a9a;
  /* position: relative; */
  /* z-index: 9999; */
}

body {
  background-color: #070a13;
}
:root {
  --clr-sapphire: #4a62ee;
  --clr-emerald: #43e56e;
  --clr-ruby: #931621;
}
.clr-sapphire {
  background-color: var(--clr-sapphire);
  color: #fff;
}
.clr-ruby {
  background-color: var(--clr-ruby);
  color: #fff;
}

.clr-emerald {
  background-color: var(--clr-emerald);
  color: #fff;
}
.clr-ruby {
  /* background-color: #eb4444; */
  color: #fff;
  fill: #fff;
  border-color: #9b9a9a;
}
.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-arrow {
  -moz-appearance: textfield;
}

.yourExpenseHistoryContainer::-webkit-scrollbar {
  display: none;
}
.react-datepicker {
  background-color: #333 !important;
  color: #ffffff !important;
}

.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__current-month {
  color: #fffdfd !important;
}

.react-datepicker__header {
  background-color: #9b9a9a !important;
}
.text-clr-sapphire {
  color: var(--clr-sapphire);
}
